* {
  border: 2px dashed red;
}

body {
  background: url("../img/sunset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.intro {
  text-align: center;
  margin: auto;
  width: 
}

.intro img {
  float: left;
  margin: 50px;
}

.intro p {
  text-align: center;
  margin-top: 100px;
  font-family: 'Playfair Display', serif;
}

h1 {
  color: rgb(42, 42, 44);
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}

.column {
  width: 20%;
  margin: 5px 5px 5px 5px;
  border: 3px ridge #181818;
  border-radius: 15px;
  padding: 5px;
  float: left;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  box-sizing: border-box;
}
.column ul {
  text-align: left;
  padding-left: 10%;
  list-style-position: inside;
  list-style-type: none;
}
ul li::before {
  content: '\1F4C0';
  margin-left: -20px;
  margin-right: 10px;
}
.column ol {
  text-align: left;
  padding-left: 0;
  list-style-position: inside;
}
.small-text {
  font-size: 12px;
}
#about {
  background: linear-gradient(to bottom, #ccccff 0%, #333399 100%);
}
#projects {
  background: linear-gradient(to bottom, #ccccff 0%, #006666 100%);
}
#background {
  background: linear-gradient(to bottom, #ccccff 0%, #3366cc 100%);
}
#interests {
  background: linear-gradient(to bottom, #ccccff 0%, #336699 100%);
}
/* want to make center bottom button */
#github-pages {
  color: tan;
  text-align: center;
 }
/* want to make a button */
#github-pages a {
  font-size: 20px;
  background-color: tan;
}